<main class="seccion contenedor">
    <h2 class="fw-300 centrar-texto">Servicios</h2>

    <div class="contenedor-anuncios">

        <div class="anuncio">
            <div class="contenido-anuncio">
                <img src="assets/Imagenes/Servicios/Servicio1.jpg" alt="a" style="height: 60%; width: 100%;">
                <h3>{{nombre}}</h3>
                <p>{{descripcion}}</p>


                <!-- <a href="anuncio.html" class="boton boton-amarillo d-block">Ver Servicio</a> -->
            </div>
            
            <div class="contenido-anuncio">
                <img src="assets/Imagenes/Servicios/Servicio2.png" alt="-"style="height: 60%; width: 100%;">
                <h3>{{nombre1}}</h3>
                <p>{{descripcion1}}</p>

                
                <!-- <a href="anuncio.html" class="boton boton-amarillo d-block">Ver Servicio</a> -->
            </div>
            

            <div class="contenido-anuncio">
                <img src="assets/Imagenes/Servicios/Servicio3.jpg" alt="-"style="height: 60%; width: 100%;">
                <h3>{{nombre2}}</h3>
                <p>{{descripcion2}}</p>


                <!-- <a href="anuncio.html" class="boton boton-amarillo d-block">Ver Servicio</a> -->
            </div>
        </div>
    </div>

<!--     <div class="ver-todas">
        <a href="anuncios.html" class="boton boton-verde">Ver Todas</a>
    </div> -->
</main>
