
<footer class="site-footer">
    <div class="contenedor clearfix">   <!-- Clearfix para flotar elementos uno frente al otro -->
  
        <div class="footer-informacion">
            <h3>Sobre <span>Eco-Jardín R&K</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ut quasi dignissimos 
              ipsam, quibusdam saepe ipsa.</p>
        </div>
  
  
        <div class="menu">
          <h3>Redes <span>Sociales</span></h3> 
          <nav class="redes-sociales">
            <a href="https://www.facebook.com/Eco-Jard%C3%ADn-RK-115279466988699" target="_blank"><i class="fa fa-facebook"> </i> </a>
            <a href="#"><i class="fa fa-whatsapp"> </i></a>
            <!-- <a href="#"><i class="fab fa-youtube"></i></a> -->
            <a href="https://www.instagram.com/ecojardinryk/" target="_blank"><i class="fa fa-instagram"> </i></a>
          </nav>
        </div>
    </div>
  
    <p class="copyright">
      Todos los derechos Reservados Eco-Jardín R&K 2020.
    </p>
  </footer>