<header class="site-header inicio">
    <div class="contenedor contenido-header">
        <div class="barra">
            <a routerLink="/">
                <img src="assets/Imagenes/Logos.png" alt="Eco-Jardin R&K" />
            </a>
            <nav class="navegacion">
                <a href="#">{{anuncios}}</a>
                <a href="#">{{blog}}</a>
                <a href="#">{{nosotros}}</a>
                <a href="">{{contacto}}</a>
            </nav>
        </div>

        <h1>Servicios Profesionales de Jardinería</h1>

    </div> 
</header>
