<section class="contenedor seccion">
    <h2 class="fw-300 centrar-texto">Más sobre nosotros</h2>

    <div class="iconos-nosotros">
        <div class="icono">
                <img src="assets/Imagenes/Iconos/icono1.jpg" alt="Seguridad">
            <h3 class="encabezado mayusculas">{{titulo1}}</h3>
            <p>{{descripcion1}}</p>
        </div>

        <div class="icono">
            <img src="assets/Imagenes/Iconos/icono2.jpg" alt="Icono Mejor Precio">
            <h3>{{titulo2}}</h3>
            <p>{{descripcion2}}</p>
        </div>

        <div class="icono">
            <img src="assets/Imagenes/Iconos/icono3.jpg" alt="Icono">
            <h3>{{titulo3}}</h3>
            <p>{{descripcion3}}</p>
        </div>
    </div>

</section>
