<!-- <h1 class="fw-300 centrar-texto">Contacto</h1>

<section class="programa">
    <div class="contenedor-imagen">
        <img src="assets/Imagenes/Luces.jpg">
    </div>

    <div class="contenido-programa">
        <div class="contenedor seccion-contenido-centrado">
            <div class="programa-evento">
                <h2 class="fw-300 centrar-texto"> Rellena el formulario </h2>

                            <fieldset class="formulario">
                                <legend>Información Personal</legend>
                                <label for="">Nombre: </label>
                                <input name="" type="Text" id="txtNombre" placeholder="Tu Nombre">

                                <label for="">Correo: </label>
                                <input name="" type="email" id="txtCorreo" placeholder="Tu Correo">

                                <label for="">Telefono: </label>
                                <input name="" type="Text" id="txtTelefono" placeholder="Tu Teléfono">

                                <label for="">Mensaje: </label>
                                <textarea  type="Text"  id="txtMensaje" Class="molde"></textarea>
                            </fieldset>

                            <button class="boton boton-verde subir">Enviar</button>
            </div>
        </div>
    </div>

</section> -->




<section class="imagen-contacto">
    <div class="contenedor contenido-contacto">
        <h2>{{titulo}}</h2>
        <p>{{descripcion}}</p>
        <a routerLink="/contacto" class="boton boton-amarillo">Contáctanos</a>
    </div>
</section>
