       <!-- Testimonios  Y Blog-->
       <div class="seccion-inferior contenedor seccion">
        <section class="blog">
            <h3 class="centrar-texto fw-300">Nuestro Blog</h3>

            <article class="entrada-blog">
                <div class="imagen">
                    <img src="assets/Imagenes/Blog/Blog1.jpeg" alt="Entrada de Blog">
                </div>
                <div class="texto-entrada">
                    <a>
                        <h4>Trabajo a la familia Suárez. </h4>
                    </a>
                    <p>Escrito el: <span>25/09/2020</span></p>
                    <p>Mantenimiento de césped y jardín además de la decoración con cerámica especial para exteriores resistentes a la lluvia</p>
                </div>
            </article>

            <article class="entrada-blog">
                <div class="imagen">
                    <img src="assets/Imagenes/Blog/Blog2.jpeg">
                </div>
                <div class="texto-entrada">
                    <a>
                        <h4>Cliente familia Masis.</h4>
                    </a>
                    <p>Escrito el: <span>27/09/2020</span> </p>
                    <p>Mantenimiento de zonas verdes con poda de plantas y árboles.</p>
                </div>
            </article>
        </section>



        <section class="testimoniales">
            <h3 class="centrar-texto fw-300">Testimoniales</h3>
            <div class="testimonial">
                <blockquote>
                    Realizan un trabajo impecable, el personal está muy capacitado y apto para los trabajos.
                    Cumple con todas las expectativas. 
                </blockquote>
                <p>- Familia Suárez</p>
            </div>
        </section>
    </div>
